.block_ranking .header .title h2:before {
    background-color: #ffba00;
	content:"\f091";
}
.block_ranking .rankingTable td img {
	width: 24px !important;
	height: 24px !important;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
.block_ranking .rankingTable tr.itsme {
	border: 2px solid #ffba00;
}